<div class='w-full h-full flex flex-col items-center justify-center'>
  <div class='w-full flex justify-center'>
    <h1 class='uppercase font-bold text-blue-500 py-2 mb-4 text-3xl'>Đăng ký thành viên mới</h1>
  </div>
  <form nz-form class='w-full md:w-1/2' (ngSubmit)='submitForm()' [formGroup]='registerForm'>
    <nz-form-item>
      <nz-form-label [nzSm]='6' [nzXs]='24' nzRequired nzFor='email'
      >E-mail
      </nz-form-label>
      <nz-form-control
        [nzSm]='14'
        [nzXs]='24'
        nzErrorTip='The input is not valid E-mail!'
      >
        <input nz-input id='email' nzSize='large' formControlName='email'/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]='6' [nzXs]='24' nzFor='phoneNumber' nzRequired
      >Số điện thoại
      </nz-form-label>
      <nz-form-control
        [nzSm]='14'
        [nzXs]='24'
        nzErrorTip='Please input your phone number!'
      >
        <input id="'phoneNumber'" nz-input nzSize='large' formControlName='phone'/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]='6'
        [nzXs]='24'
        nzFor='nickname'
        nzRequired
      >
        <span>Họ tên</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]='14'
        [nzXs]='24'
        nzErrorTip='Please input your nickname!'
      >
        <input nz-input id='nickname' nzSize='large' formControlName='fullName' />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]='6' [nzXs]='24' nzFor='password' nzRequired
      >Mật khẩu
      </nz-form-label>
      <nz-form-control
        [nzSm]='14'
        [nzXs]='24'
        nzErrorTip='Please input your password!'
      >
        <input nz-input type='password' id='password' nzSize='large' formControlName='password' />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]='6' [nzXs]='24' nzFor='checkPassword' nzRequired
      >Nhập lại mật khẩu
      </nz-form-label>
      <nz-form-control [nzSm]='14' [nzXs]='24' [nzErrorTip]='errorTpl'>
        <input nz-input type='password' id='checkPassword' nzSize='large' formControlName='confirmPassword' />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
          >Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div class='w-full flex justify-center'>
    <button nz-button nzType='primary'>Đăng ký</button>
  </div>
</div>
