<div class='w-full flex flex-col items-center justify-center'>
  <h3 class='text-2xl font-bold py-2'>{{user?.tel}}</h3>
  <p class='py-2'>Ngày gia nhập: <strong>{{user?.createdAt | date:'dd/MM/yyyy HH:mm'}}</strong></p>
  <p class='py-2'>Email: <strong>{{user?.email}}</strong></p>
  <ng-container *ngIf='isChangePassword'>
    <form nz-form [formGroup]='changePasswordForm' class='login-form'>
      <nz-form-item class='mb-1'>
        <nz-form-control>
          <nz-input-group nzPrefixIcon='lock'>
            <input type='password' nz-input formControlName='oldPassword' placeholder='Nhập mật khẩu cũ' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class='mb-1'>
        <nz-form-control>
          <nz-input-group nzPrefixIcon='lock'>
            <input type='password' nz-input formControlName='newPassword' placeholder='Nhập mật khẩu mới' />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class='flex items-center'>
        <button type='button' nz-button nzType='primary' class='bg-blue-500 text-white' (click)='submitForm()'>Cập nhật</button>
        <button type='button' nz-button nzType='primary' class='bg-white text-red-500 ml-2'
                (click)='isChangePassword = false'>
          Hủy
        </button>
      </div>
    </form>
  </ng-container>
  <a *ngIf='!isChangePassword' class='font-bold text-blue-600' (click)='isChangePassword = true'>Đổi mật khẩu</a>
  <p class='py-2'>Số dư: <strong class='text-red-600'>
    {{(user?.wallets ? user?.wallets?.[0]?.amount : 0 ) | number}}
  </strong>vnđ
  </p>
</div>
