<div class='w-full grid grid-cols-5'>
  <div class='col-span-5 md:col-span-2'>
    <h3 class='font-bold text-lg'>Chuyển khoản (khuyến khích)</h3>
    <p class='py-1'>1. Vào ứng dụng ngân hàng của bạn trên điện thoại và chọn chức năng quét mã QR</p>
    <p class='py-1'>2. Quét mã QR bên dưới</p>
    <p class='py-1'>3. Nhập số tiền bạn muốn chuyển (bao nhiêu cũng được)</p>
    <p class='py-1'>4. Nội dung chuyển tiền: "Số điện thoại" bạn đăng ký</p>
    <p class='py-1'>5. Hoàn tất quá trình chuyển tiền (tên người nhận tiền là NGUYEN XUAN THAI)</p>
    <img width='250' src='/assets/images/vcb_payment.jpg'>
  </div>
  <div class='col-span-5 md:col-span-1'>
    <nz-divider nzType='vertical' class='w-full h-full'>Hoặc</nz-divider>
  </div>
  <div class='col-span-5 md:col-span-2'>
    <h3 class='font-bold text-lg'>Chuyển khoản qua ứng dụng MOMO</h3>
    <p class='py-1'>1. Vào ứng dụng MoMo của bạn trên điện thoại và chọn chức năng quét mã QR</p>
    <p class='py-1'>2. Quét mã QR bên dưới</p>
    <p class='py-1'>3. Nhập số tiền bạn muốn chuyển (bao nhiêu cũng được)</p>
    <p class='py-1'>4. Nội dung chuyển tiền: "Số điện thoại" bạn đăng ký</p>
    <p class='py-1'>5. Hoàn tất quá trình chuyển tiền (tên người nhận tiền là NGUYEN XUAN THAI)</p>
    <img width='250' src='/assets/images/momo_payment.jpg'>
  </div>
</div>
