<form id="nzForm" nz-form nzLayout="horizontal" (ngSubmit)="onSave()">
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 30]">
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8" nzRequired nzFor="name">
          Tên thành viên
        </nz-form-label>
        <nz-form-control nzErrorTip="Tên thành viên không được trống">
          <input nz-input id="name" name="fullName" placeholder="Tên thành viên" [(ngModel)]='user.fullName'/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8" nzRequired>Mật khẩu</nz-form-label>
        <nz-form-control nzErrorTip="Mật khẩu không được trống">
          <input name='password' nz-input placeholder="Mật khẩu"  [(ngModel)]='user.password'/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8" nzRequired>Email</nz-form-label>
        <nz-form-control>
          <input name='email' nz-input placeholder="Email"  [(ngModel)]='user.email'/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 30]">
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8" nzRequired>SĐT</nz-form-label>
        <nz-form-control nzErrorTip="Số điện thoại không được trống">
          <input name='tel' nz-input placeholder="Số điện thoại"  [(ngModel)]='user.tel'/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Giới tính</nz-form-label>
        <nz-form-control>
          <nz-select name='gender' [(ngModel)]='user.gender'>
            <nz-option *ngFor='let gender of genders' [nzValue]="gender.value" [nzLabel]="gender.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Ngày sinh</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            class="w-full"
            nzPlaceHolder="Ngày sinh"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 30]">
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">CMND/CCCD</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Số CMND/CCCD" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Nơi cấp</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Nơi cấp CMND/CCCD" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Ngày cấp</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            class="w-full"
            nzPlaceHolder="Ngày cấp CMND/CCCD"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 30]">
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Địa chỉ</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Địa chỉ" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8">Quyền</nz-form-label>
        <nz-form-control nzErrorTip="Quyền không được trống">
          <nz-select name='roleId' nzPlaceHolder="Quyền người dùng" [(ngModel)]='user.roleId'>
            <nz-option *ngFor='let role of roles' [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nz-col nzSpan="8" nzRequired>Trạng thái</nz-form-label>
        <nz-form-control nzErrorTip="Trạng thái không được trống">
          <nz-select name='status' nzPlaceHolder="Trạng thái người dùng" [(ngModel)]='user.status'>
            <nz-option *ngFor='let status of statuses' [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<ng-template #btnSave>
  <button nz-button nzType="primary" type="submit" class='bg-sky-600' form="nzForm">Lưu</button>
</ng-template>
